html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

/* Primary content area */

#content {
  overflow: hidden;
}

#content  {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

/* Header */
.md-default-theme h1 {
  margin: 0 auto;
  padding: 0.25em;
}

/* Hi5 Grid */

.hi5-grid {
}

.room__header {
  width: 100%;
  text-align: center;
}

/* Utils */

.content-wrapper {
  position: relative;
}
